<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap demo</title>
  <link rel="stylesheet" href="/styles.css">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>




  <nav class="navbar navbar-expand-lg bg-body-tertiary justify-content-center">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="navbar-brand" href="https://www.capitalone.com/"><img style="height: 70px; width: 100px" src="/images/Capital-One-Logo.png"
                alt=""></a>

          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Organizations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Capital One Benefits</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <h3 style="text-align: center; padding: 20px">Donations</h3>

  <div class="row height d-flex justify-content-center align-items-center">

    <div class="col-md-6">

      <div class="form">
        <i class="fa fa-search"></i>
        <input type="text" class="form-control form-input" placeholder="Search anything...">
        <span>
          <button type="submit" class="btn btn-light">
            <img src="images/search.png" alt="" style="height: 20px; width: 20px;">
          </button>
        </span>
      </div>

    </div>

  </div>

  
  <div class="card-container">
    <% records.map(record => { %>
      <div class="card" style="width: 18rem;">
        <img src="/images/<%= record.image_name.value%>.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= record.name.value%></h5>
          <p class="card-text"><%= record.description.value%></p>
          <p><h6>Location: </h6><%= record.Text_1.value%></p>
        
          <!-- Button trigger modal -->
          <a href="/payment"><button  type="button" class="btn btn-primary">Donate</button></a>
          &nbsp;
          <a href="/organization/<%= record.$id.value%>">Know more</a>
        </div>
      </div>
      <%})%>
    

  </div>

  <!-- Modal
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          
          
          
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <img style="height: 250px; width:450px" src="images/atul-pandey-0f3bZHXZSz8-unsplash.jpg" alt="">
          
          
          <h1>Title</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae eaque ipsa dignissimos eligendi sed molestiae porro adipisci quod. Commodi cum animi repudiandae facilis doloribus pariatur minima cumque beatae obcaecati delectus?</p>
          <br>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, ipsam assumenda ullam repellat vero, illum quis harum, porro laborum quo ut! Totam reiciendis excepturi fugiat placeat beatae? Sapiente, error odit!
          </p>
          <br>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit veniam eligendi voluptate omnis asperiores optio. Eveniet tempore perferendis quidem id excepturi vero molestias in, dolorem et accusamus nemo quod dolor!</p>
          <h6>Location</h6>
          <h6>Contact</h6>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <a href="payment.html"><button  type="button" class="btn btn-primary">Donate</button></a>
        </div>
      </div>
    </div>
  </div> -->



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
    integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
    crossorigin="anonymous"></script>


</body>

</html>