<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap demo</title>
  <link rel="stylesheet" href="/styles.css">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
</head>

<body>




  <nav class="navbar navbar-expand-lg bg-body-tertiary justify-content-center">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="navbar-brand" href="https://www.capitalone.com/"><img style="height: 70px; width: 100px" src="/images/Capital-One-Logo.png"
                alt=""></a>

          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Organizations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Capital One Benefits</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>



  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <img src="/images/<%= organization.image_name.value%>.jpg %>" class="img-fluid mb-4" alt="Charity Image">
        <h2><%= organization.title.value%></h2>
        <br>
        <!-- Button with Verified Symbol -->
        <button type="button" class="btn btn-success">
            <i class="fas fa-check-circle"></i> Verified by CapitalOne
        </button>
        <br>
        <br>
        <% organization.Category.value.map(category => { %>
            <button type="button" class="btn btn-outline-primary">
                <%= category %>
            </button>
            
        <% }) %>
        <!-- <p><strong>Category:</strong> Education &amp; Empowerment</p> -->
        <p><strong>Description: </strong><%= organization.description.value%></p>
        <p><strong>Location: </strong> <%= organization.Text_1.value%></p>
        <p><strong>Organization Size: </strong> <%= organization.Text_2.value%></p>
        <p><strong>Number of Donators: </strong> 2,500+</p>
        <p><strong>Amount Needed for Donation: </strong> $50,000</p>
        <a href="/payment"><button  type="button" class="btn btn-primary">Donate</button></a>
        
      </div>
    </div>
  </div>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
    integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
    crossorigin="anonymous"></script>


</body>

</html>